<% layout('/layouts/boilerplate') %>

<div class="container my-5 col-lg-8 col-12 mx-auto p-md-2 p-3">
    <h1>About</h1>
    <div class="my-4">
        <p>This is a simple URL shortener built with Node.js, Express, and MongoDB.</p>
        <p>The source code is available on <a href="https://github.com/CoreyMcCoy/url-shrinker">GitHub</a>.</p>
    </div>
</div>
